<div class='row welcome user'>
  <div class='col-xs-12 col-sm-6'>
    <div class='panel panel-primary'>
      <div class='panel-heading'>
        <div class='panel-title'>
          <h2>Available Friends</h2>
        </div>
      </div>
      <div class='panel-body'>
        <% @welcome.available_friends.each do |friend| %>
          <div class='friend-to-call'>
            <a href='tel:<%=friend.mobile_number%>'><%=friend.name%></a>
            <span>until <%= local_relative_time(friend.unavailable_at, 'time-or-date') %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='col-xs-12 col-sm-6'>
    <%= render partial: 'availabilities/form', locals: {welcome: @welcome} %>
  </div>
</div>
