form label {
  text-transform: uppercase;
  font-weight: normal;
}

.table tbody {
  border-bottom: 1px solid #ccc;
}

.welcome{
  padding: 0 20px;
}

.list-group{
  .block{
    display: block;
  }
}

.btn{
  font-family: $font-family-narrow;
  text-transform: uppercase;
}

.available{
  color: green;
}
.unavailable{
  color: #ccc;
}

.hide-overflow
{
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  display:block;
}

.highlight{
  background-color: $highlight-color;
}
